<%= form_with(model: @inst, local: true, url: choose_new_or_edit) do |form| %>
 <% if @inst.errors.any? %>
    <div id="error_explanation">
      <h2><%= @inst.errors.count %>件のエラーがあります。</h2>
      <ul>

      <% @inst.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="inst_title">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div class="inst_title">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>
  <div class="field">
    <%= form.label :image %>
    <div id = "image">
      <div class = "input">
      <%= form.file_field :image %>
      </div>
    </div>
    <%= form.hidden_field :image_cash %>
  </div>
  <%= form.submit %>
<% end %>

<%= link_to '投稿一覧画面に戻る', insts_path, class: "btn btn-info" %>